@model BookModel
@{
    ViewData["title"] = "Add New Book";
}

<div class="container">
    <h3>Add New Book</h3>
    @if (ViewBag.IsSuccess)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> <a asp-controller="Book" asp-action="GetBook" asp-route-id="@ViewBag.BookId">See All Books</a>.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <form method="post" asp-action="AddBook" asp-controller="book">
        <div class="mb-3">
            <label asp-for="Title" class="form-label">Title</label>
            <input asp-for="Title" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
        </div>
        <div class="mb-3">
            <label asp-for="Author" class="form-label">Author</label>
            <input asp-for="Author" class="form-control" id="exampleInputText2" aria-describedby="textHelp">
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description</label>
            <textarea asp-for="Description" class="form-control" placeholder="Leave a description here"
                      id="floatingTextarea"></textarea>
        </div>
        @* <div class="mb-3">
        <label asp-for="Category" class="form-label">Category</label>
        <input asp-for="Category" class="form-control" id="exampleInputText4" aria-describedby="textHelp">
        </div>
        <div class="mb-3">
        <label asp-for="Language" class="form-label">Language</label>
        <input asp-for="Language" class="form-control" id="exampleInputText5" aria-describedby="textHelp">
        </div> *@
        <div class="mb-3">
            <label asp-for="TotalPages" class="form-label">Total Pages</label>
            <input asp-for="TotalPages" class="form-control" id="exampleInputNumber" aria-describedby="numberHelp">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>