<footer class="border-top footer text-muted text-center mt-4">
    <div class="container">
        Copyright &copy; Book Store @DateTime.Now.Year
        <custom-email my-email="himanshuladva0587@gmail.com"></custom-email>
    </div>
</footer>